# Auto detect text files and perform LF normalization
* text=auto
* linguist-vendored
*.scala linguist-vendored=false
*.groovy linguist-vendored=false
*.json linguist-vendored=false
*spark* linguist-vendored=false

